* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Bookman";
}

a {
  text-decoration: none;
}

.container-header {


  background-color:#ffa700;
  height:80px;
  color:#fff;
  opacity:0.9;

}

.header-left {
  height:80px;
  float:left;
  padding-left: 20px;
  padding-top:20px
}
.header-left img {
  height: 40px;
}
.header-left h1 {
  float:right;
  padding-left: 15px;
}
.header-right {
  float:right;
  padding-top: 30px;

  height: 80px;

}

.header-right a {
  padding-right: 15px;
  color:white;
  letter-spacing:2px;

  padding-left: 20px;

}

.au {
  display:inline-block;
  border-left: 1px solid #fff;
}
.Katalog {
    display:inline-block;
    border-left: 1px solid #fff;

  }
.Location {
  display:inline-block;
  border-left: 1px solid #fff;

}
.top-wrapper {
  height:900px;
  background-image: url();
  background-size: cover;
  width: 1170px;
  margin: auto;

}
.main {
  background-image: url(https://get.pxhere.com/photo/blur-background-shop-shoe-light-bokeh-electronics-city-1588115.jpg);
  text-align: center;
  padding: 30px 0px;
  color:black

}
.btn-wrapper {
text-align: center;
paddin
}

.btn-wrapper h5 {
  font-size: 36px;
  padding-top: 30px;
}

.btn-wrapper a {
padding-top: 40px;
}
.btn {
  text-align: center;
}
.products {
  width:1170px;
}
